<!DOCTYPE html>
<html>

  <head>
    <title>AMI</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!--Import css-->
    <link type="text/css" rel="stylesheet" href="/styles/generiques/materialize.min.css" />
    <link href="/styles/layout.css" type="text/css" rel="stylesheet" />
    <link href="/styles/<%= pageAffichee %>.css" type="text/css" rel="stylesheet" />
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" type="text/css" rel="stylesheet" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  </head>

  <body class="scrollspy">

    <header class="pl300">

      <!--Navigation-->
      <nav class="top-nav default_color">
        <div class="container w100">
          <div class="nav-wrapper">
            <div class="row">
              <div class="col s9 m8 offset-m1">
                  <a href="/logged" id="logo-container" class="brand-logo txt-logo">Association AMI</a>
              </div>
              <div class="col s3 m3">
                  <a href="/logout">Se déconnecter</a>
              </div>
            </div>
          </div>
        </div>
      </nav>

      <div class="container">
        <a href="#" data-target="nav-mobile" class="top-nav sidenav-trigger full hide-on-large-only">
          <i class="material-icons">menu</i>
        </a>
      </div>
      
      <!-- Menu Latéral -->
      <div id="nav-mobile" class="sidenav sidenav-fixed default_color">
        <div class="row">
          <img src="/images/logo.png" alt="logo AMI" class="col s10 offset-s1 imgLogo"/>
          <div class="collection sidemenus col s10 offset-s1">
            <a href="/newBeneficiaire" class="collection-item default_color"><h5>Inscrire un bénéficiaire</h5></a>
            <a class="collection-item default_color vide"></a>
            <a href="/listeBeneficiaires" class="collection-item default_color"><h5>Consulter la liste des bénéficiares</h5></a>
            <a class="collection-item default_color vide"></a>
            <a href="#!" class="collection-item default_color"><h5>Gestion des contrats de travail</h5></a>
            <a class="collection-item default_color vide"></a>
            <a href="/statistiques" class="collection-item default_color"><h5>Consultation des statistiques</h5></a>
          </div>
        </div>
      </div>

    </header>

    <main class="pl300">

      <!-- Partie centrale -->
      <div class="row maPage">
          <div class="col s12 m10 offset-m1">
              <%- body %>
          </div>
      </div>

    </main>

    <!--Footer-->
    <footer class="page-footer scrollspy pt0 pl300">
      <div class="footer-copyright blue darken-1">
        <div class="footer-container">
          © 2018 Copyright Maxime LE BAIL
          <a class="grey-text text-lighten-4 right" href="http://association-ami-nantes.blogspot.com/" target="_blank">Blog</a>
        </div>
      </div>
    </footer>

  </body>
  
  <!--JavaScript at end of body for optimized loading-->
  <script src="/dependencies/sails.io.js"></script>
  <script type="text/javascript" src="/js/generiques/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="/js/generiques/materialize.min.js"></script>
  <script type="text/javascript" src="/js/generiques/Chart.js"></script>
  <script type="text/javascript" src="/js/layout.js"></script>
  <script type="text/javascript" src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="/js/<%= pageAffichee %>.js"></script>
</html>
