<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
  <meta name="theme-color" content="#2196F3">
  <title>AMI</title>

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- CSS  -->
  <link href="styles/homepage/plugin-min.css" type="text/css" rel="stylesheet">
  <link href="styles/homepage/custom-min.css" type="text/css" rel="stylesheet" >
  <link href="styles/homepage/homepage.css" type="text/css" rel="stylesheet" >

</head>

<body id="top" class="scrollspy">

<!--Navigation-->
<div class="navbar-fixed">
  <nav id="nav_f" class="default_color" role="navigation">
    <div class="container">
      <div class="nav-wrapper">
        <a href="#" id="logo-container" class="brand-logo">Association nantaise AMI</a>
		<ul class="right hide-on-med-and-down">
          <li><a href="#modal1" onClick="openModal()">Se connecter</a></li>
        </ul>
        <ul id="nav-mobile" class="side-nav">
          <li><a href="#modal1" onClick="openModal()">Se connecter</a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>

<!--Logo-->
<div class="section no-pad-bot" id="index-banner">
  <div class="row container">
    <img src="images/logo.png" alt="logo AMI" class="col s6 offset-s3 img-logo"/>
    <h1 class="text_h center header cd-headline letters type">
      <span><b class="is-visible">A</b>ccompagnement <b class="is-visible">M</b>igrant <b class="is-visible">I</b>ntégration</span>
    </h1>
  </div>
</div>

<!-- Intro -->
<div id="intro" class="section scrollspy">
  <div class="container w90">
    <div class="row">
      <div  class="col s12">
        <h2 class="center header text_h2">
          L'association <span class="span_h2">AMI</span> à <span class="span_h2">Nantes</span> a pour but l’<span class="span_h2">intégration</span> sur le territoire français des personnes étrangères.
          <span class="span_h2">Demandeurs d’asile</span> et <span class="span_h2">réfugiés politiques</span> font partie du public accueilli.<br>
        </h2>
      </div>
    </div>
  </div>
</div>

<!-- Objectifs -->
<div class="section scrollspy" id="team">
  <div class="container w90">
    <h2 class="header text_b"> Les objectifs de l'AMI </h2>
    <div class="row">

      <div class="col s12 m4">
        <div class="card card-avatar">
          <div class="card-content card-objectifs">
            <span class="card-title activator span_h2">Rompre l’inactivité </span>
            <p>Les demandeurs d'asile sont souvent inactifs et cela leur nuit.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card card-avatar">
          <div class="card-content card-objectifs">
            <span class="card-title activator span_h2">Accompagner individuellement </span>
            <p>L'AMI accompagne individuellement chacun des membres avec un dossier de suivi. Ce suivi s'effectue toujours dans un langage de vérité.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card card-avatar">
          <div class="card-content card-objectifs">
            <span class="card-title activator span_h2">Informer </span>
            <p>L'AMI cherche à informer mais aussi rassurer et témoigner sur la problématique des migrants.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card card-avatar">
          <div class="card-content card-objectifs">
            <span class="card-title activator span_h2">Lutter contre l’assistanat </span>
            <p>L'association a pour priorité d'apprendre aux migrants à se débrouiller seul et à ne pas vivre de l'assistanat.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card card-avatar">
          <div class="card-content card-objectifs">
            <span class="card-title activator span_h2">Favoriser le vivre ensemble </span>
            <p>L'AMI lutte continuellement contre le communautarisme et favorise toujours l'acceptation des différences. Cela demande de l'éducation.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card card-avatar">
          <div class="card-content card-objectifs">
            <span class="card-title activator span_h2">Intégrer par le travail </span>
            <p>L'association pousse les migrants à trouver un travail et à suivre assidument les activités proposées. Ainsi l'intégration dans la société se fait via le travail.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Actiivités obligatoires -->
<div id="intro" class="section scrollspy">
  <div class="container w90">
    <h2 class="header text_b"> Les activités obligatoires</h2>
    <div class="row">

      <div  class="col s13 m3 l3">
        <div class="center promo promo-example">
          <i class="material-icons">school</i>
          <h5 class="promo-caption">Alphabétisation</h5>
          <p class="light center">
            « Il est indispensable de maîtriser la langue française pour s’intégrer au mieux dans la société. »
            Trois niveaux de cours d’alphabétisation sont proposés du mardi au jeudi grâce à une salariée spécialisée.</p>
        </div>
      </div>

      <div  class="col s12 m3 l3">
        <div class="center promo promo-example">
          <i class="material-icons">gavel</i>
          <h5 class="promo-caption">Instruction civique</h5>
          <p class="light center">
            La Présidente, aidée de bénévoles, dispense des cours sur les droits et les devoirs des citoyens français ainsi que les valeurs fondamentales :
            les institutions, les grandes dates de l’Histoire de France, l’organisation territoriale, ….</p>
        </div>
      </div>

      <div class="col s12 m3 l3">
        <div class="center promo promo-example">
          <i class="material-icons">restaurant</i>
          <h5 class="promo-caption">Cuisine</h5>
          <p class="light center">
            Chaque mercredi, un repas est préparé avec des denrées de la Banque Alimentaire 44 afin de mieux se familiariser aux produits français et apprendre à cuisiner simplement.</p>
        </div>
      </div>

      <div class="col s12 m3 l3">
        <div class="center promo promo-example">
          <i class="material-icons">directions_run</i>
          <h5 class="promo-caption">Sport</h5>
          <p class="light center">
            Afin de gérer le stress du quotidien et apprendre à mieux se connaitre, des activités sportives sont encadrées par des bénévoles :
            football, natation, remise en forme, journée sportive, ….</p>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Contrat personnalisé -->
<div class="section scrollspy" id="team">
  <div class="container w90">
    <h2 class="header text_b"> Le contrat personnalisé </h2>
    <div class="row row-contrat">

      <div class="col s12 m5">
        <h5 class="promo-caption">L’AMI s’engage à : </h5>
        <ul class="collection">
          <li class="collection-item li-contrat"><p><span class="span_h2">Accompagner les personnes</span> dans leurs démarches juridiques et administratives</p></li>
          <li class="collection-item li-contrat"><p><span class="span_h2">Proposer des contrats de travail</span> grâce aux dérogations de la préfecture de Nantes</p></li>
          <li class="collection-item li-contrat"><p><span class="span_h2">Lutter</span> contre l’<span class="span_h2">assistanat</span> et le <span class="span_h2">communautarisme</span></p></li>
          <li class="collection-item li-contrat"><p>Faire perdurer un <span class="span_h2">esprit de convivialité</span> dans l’association</p></li>
        </ul>
      </div>

      <div class="col s12 m2 arrow-contrat">
        <div class="center promo promo-example ">
          <i class="material-icons">swap_horiz</i>
        </div>
      </div>

      <div class="col s12 m5">
        <h5 class="promo-caption">Le bénéficiaire s’engage à : </h5>
        <ul class="collection">
          <li class="collection-item li-contrat"><p><span class="span_h2">Venir aux activités</span> qui lui sont proposées à la suite d’une évaluation du niveau de français</p></li>
          <li class="collection-item li-contrat"><p><span class="span_h2">Respecter le contrat</span> personnalisé</p></li>
          <li class="collection-item li-contrat"><p><span class="span_h2">Etre assidu aux activités et aux rendez-vous</span> qui lui sont donnés</p></li>
          <li class="collection-item li-contrat"><p>Vivre dans la <span class="span_h2">convivialité</span>, <span class="span_h2">découvrir les cultures et les religions inconnues</span> dans un esprit d’échange</p></li>
        </ul>
      </div>

    </div>
  </div>
</div>

<!-- Intégration par le travail -->
<div id="intro" class="section scrollspy">
  <div class="container w90">
    <h2 class="header text_b">Intégration par le travail</h2>
    <div class="row">


      <div class="col s12 m4">
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator img-card-muguet" src="images/muguet.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Cueillette du muguet<i class="material-icons right">more_vert</i></span>
            <p><span class="span_h2">Chaque année en mars</span></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Cueillette du muguet<i class="material-icons right">close</i></span>
            <p>La cueillette du muguet est un moment
              de convivialité constante, chacun des
              bénéficiaires apprécie ce temps de
              travail car ils retrouvent une
              considération.</p>
            <p>Cette activité salariale leur permet de
              retrouver une dignité, ce qui est une
              excellente méthode d’intégration sur le
              territoire français.</p>
          </div>
        </div>
      </div>


      <div class="col s12 m4">
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator img-card-pomme" src="images/pommes.jpg">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">La cueillette des pommes<i class="material-icons right">more_vert</i></span>
            <p><span class="span_h2">Chaque année en période de cueillette de pommes</span></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">La cueillette des pommes<i class="material-icons right">close</i></span>
            <p>La cueillette des pommes fait l’objet de contrats de
              travail les plus longs, jusqu’à 10 semaines. C’est sur
              la commune d’Arthon en Retz que l’A.M.I. se
              déplace.</p>
            <p>Ces contrats saisonniers ont permis d’évoluer, pour
              certains migrants, vers des contrats de travail à
              durée indéterminée et se sont établis dans la
              commune du lieu de travail. L’association, dans ces
              situations, a atteint son objectif d’intégration par le
              travail et le logement.</p>
            <p>Hors dérogation, les réfugiés sont autorisés à
              travailler et participent alors à l’éclaircissage des
              pommiers.</p>
          </div>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="card medium">
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator img-card-vendange" src="images/vendanges.png">
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4">Les vendanges<i class="material-icons right">more_vert</i></span>
            <p><span class="span_h2">Chaque année en période de vendange</span></p>
          </div>
          <div class="card-reveal">
            <span class="card-title grey-text text-darken-4">Les vendanges<i class="material-icons right">close</i></span>
            <p>Bien que l’effectif soit moins
              important que pour la cueillette du
              muguet, l’accompagnement est
              plus complexe car nous travaillons
              avec plusieurs viticulteurs, sur des
              communes différentes.</p>
            <p>Cette fois, le camping à la ferme est
              privilégié tout comme le
              covoiturage. Les réfugiés sont aussi
              sollicités pour la taille de vigne.</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!--Footer-->
<footer id="contact" class="page-footer default_color scrollspy">
  <div class="container w80">
    <div class="row">
      <div class="col l8 m8 s12">
        <h5 class="white-text">Bénévoles et stagiaires</h5>
        <p class="grey-text text-lighten-4">
          L’AMI accueille de futurs professionnels, dans le domaine du <b>social</b>, du <b>juridique</b>, <b>sciences politiques</b>, <b>administration</b> & <b>gestion</b>.
        </p>
        <p class="grey-text text-lighten-4">
          L’association ne pourrait fonctionner sans la participation des bénévoles. La <b>permanence santé</b>, les cours d’<b>alphabétisation</b>,
          le travail <b>adminisitratif</b>, la <b>communication</b> et la <b>trésorie</b> sont assurés par des bénévoles.
        </p>
        <p class="grey-text text-lighten-4">
          Les bénévoles ponctuels interviennent dans l’<b>encadrement des contrats de travail</b>. Leur présence est précieuse auprès des groupes qui
          partent travailler. Ils participent grandement à l’<b>encadrement</b> des bénéficiaires.
        </p>
      </div>
      <div class="col l3 m3 offset-l1 s12">
		<h5 class="white-text">Contacter l'AMI</h5>
		  <ul>
			<li><a class="grey-text text-lighten-3 li-footer"  target="_blank" href = "http://maps.google.fr/maps?f=q&amp;hl=fr&amp;q=ami%20nantes" ><i class="material-icons">place</i><span class="li-footer">103, rue du corps de garde</span></a></li>
			<li style="margin-top: -15px;"><a class="grey-text text-lighten-3 li-footer" target="_blank" href = "http://maps.google.fr/maps?f=q&amp;hl=fr&amp;q=ami%20nantes" ><i class="material-icons blue-text">place</i><span class="li-footer">44100 NANTES</span></a></li>
			<li style="margin-top: -10px;"><a class="grey-text text-lighten-3 li-footer" href="tel:+33240775263"><i class="material-icons">phone</i><span class="li-footer">02 40 77 52 63</span></a></li>
			<li style="margin-top: -10px;"><a class="grey-text text-lighten-3 li-footer" href="mailto:ami_asso@sfr.fr"><i class="material-icons">mail_outline</i><span class="li-footer">ami_asso@sfr.fr</span></a></li>
		  </ul>
		  <h5 class="white-text"> Mentions légales</h5>
		  <ul style="margin-top: 2px;">
			<li class="grey-text text-lighten-3 li-footer" style="font-size: 11px;"><b>Accompagnement Migrant Intégration</b> : association loi 1901 basée à Nantes (adresse ci-dessus)</li>
			<li class="grey-text text-lighten-3 li-footer" style="font-size: 11px;"><b>Directeur de la publication</b> : Maxime LE BAIL</li>
			<li class="grey-text text-lighten-3 li-footer" style="font-size: 11px;"><b>Hébergeur du site</b> : Google Ireland Limited, Gordon House, Barrow Street, Dublin 4, Irlande</li>
		  </ul>
	  </div>
    </div>
  </div>
  <div class="footer-copyright blue darken-1">
    <div class="container">
      © 2018 - Maxime LE BAIL - Tous droits réservés.
      <a class="grey-text text-lighten-4 right" href="http://association-ami-nantes.blogspot.com/" target="_blank">Blog</a>
    </div>
  </div>
</footer>


<!--  Scripts-->
<script type="text/javascript" src="js/generiques/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="js/generiques/materialize.min.js"></script>
<script src="js/homepage.js"></script>

<!-- Modal Structure -->
<div id="modal1" class="modal">

  <form  method="POST" class="modal-content" id="formConnexion">

    <div class="row">
      <h4 class="col s12 h4-modal">Se connecter</h4>
      <blockquote class="col s12">Veuillez vous enregistrer pour accéder à votre espace d'administration.</blockquote>
      <span class="badge red col s12 h4-modal white-text" id="error"></span>
    </div>

    <div class="row">
      <div class="input-field col s10 offset-s1">
        <i class="material-icons prefix blue-text">mail</i>
        <input id="mail" name="mail" type="email" class="validate blue-text">
        <label for="mail" class="blue-text">Identifiant</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s10 offset-s1">
        <i class="material-icons prefix blue-text">lock</i>
        <input id="password" name="password" type="password" class="validate blue-text">
        <label for="password" class="blue-text">Mot de passe</label>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn waves-effect waves-light blue" type="submit" name="valider">
        Se connecter
        <i class="material-icons right">send</i>
      </button>
      <a class="btn waves-light modal-close red accent-4 btn-annuler">Annuler</a>
    </div>

  </form>

</div>

</body>
</html>

