s<div class="container">

  <div class="row">
    <div class="col s6 offset-s3">
      <form action="/login" method="POST" class="col s12" id="connectForm">

        <div>
          <h1>Se Connecter</h1>
          <p>Bonjour, veuillez vous enregistrer pour accéder à votre espace utilisateur</p>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mail</i>
            <input id="mail" name="mail" type="email" class="validate">
            <label for="mail">Identifiant</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">lock</i>
            <input id="password" name="password" type="password" class="validate">
            <label for="password">Mot de passe</label>
          </div>
        </div>

        <div class="row">
          <a class="waves-effect waves-light btn" onclick="document.getElementById('connectForm').submit();" >Se connecter</a>
        </div>
      </form>
    </div>
  </div>

</div>
