.stages {
  font-size: 0;
  text-align: justify;
}

label{
  color: unset !important;
}

.progress{
  position: unset !important;
  height: unset !important;
  display: unset !important;
  width: unset !important;
  background-color: unset !important;
  border-radius: unset !important;
  margin: unset !important;
  overflow: unset !important;
}

.stages:after {
  content: '';
  display: inline-block;
  font-size: 0;
  text-align: justify;
  width: 100%;
}

input[type="radio"] {
  display: none;
}

.stages label {
  background: #ffffff;
  border: solid 5px #72c1ff;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  font-size: 0;
  font-weight: 700;
  height: 60px;
  line-height: 54px;
  position: relative;
  text-align: center;
  vertical-align: top;
  width: 60px;
  z-index: 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.stages label:after {
  content: '\2713';
  color: #72c1ff;
  display: inline-block;
  font-size: 16px;
}

#one:checked ~ .stages label[for="one"],
#two:checked ~ .stages label[for="two"],
#three:checked ~ .stages label[for="three"],
#four:checked ~ .stages label[for="four"],
#five:checked ~ .stages label[for="five"],
#six:checked ~ .stages label[for="six"] {
  border-color: #2196f3;
}

.stages label.active{
  border-color: purple !important;
}

#one:checked ~ .stages label,
#two:checked ~ .stages label[for="one"] ~ label,
#three:checked ~ .stages label[for="two"] ~ label,
#four:checked ~ .stages label[for="three"] ~ label,
#five:checked ~ .stages label[for="four"] ~ label,
#six:checked ~ .stages label[for="five"] ~ label {
  font-size: 1rem;
}

#one:checked ~ .stages label:after,
#two:checked ~ .stages label[for="one"] ~ label:after,
#three:checked ~ .stages label[for="two"] ~ label:after,
#four:checked ~ .stages label[for="three"] ~ label:after,
#five:checked ~ .stages label[for="four"] ~ label:after,
#six:checked ~ .stages label[for="five"] ~ label:after {
  display: none;
}

.progress > span {
  background: #72c1ff;
  display: inline-block;
  height: 5px;
  transform: translateY(-2.9em);
  transition: 0.3s;
  width: 0;
}

#two:checked ~ .progress span {
  width: calc(100% / 5 * 1);
}

#three:checked ~ .progress span {
  width: calc(100% / 5 * 2);
}

#four:checked ~ .progress span {
  width: calc(100% / 5 * 3);
}

#five:checked ~ .progress span {
  width: calc(100% / 5 * 4);
}

#six:checked ~ .progress span {
  width: calc(100% / 5 * 5);
}

.panels div {
  display: none;
}

#one:checked ~ .panels [data-panel="one"],
#two:checked ~ .panels [data-panel="two"],
#three:checked ~ .panels [data-panel="three"],
#four:checked ~ .panels [data-panel="four"],
#five:checked ~ .panels [data-panel="five"],
#six:checked ~ .panels [data-panel="six"] {
  display: block;
}

