.titre {
    text-align: center;
}


.tabs .tab a:hover, .tabs .tab a.active {
    background-color: transparent;
    color: #2196F3;
}

.tabs .tab a {
    color: #2196F3;
}

.tabs .indicator {
    background-color: #2196F3;
}


.card .row {
    margin-bottom: 0;
}

.right-align {
    font-size: 16px;
    font-weight: bolder;
}