<% pageAffichee = "newBenef" %>

<h2>Ajouter un bénéficiaire</h2>

<div class="row">
  <div class="col s12">
    <div class="card-panel ami">
        <div class="row info">
            <div class="col s2 infoIcon">
                <i class="material-icons white-text medium">info_outline</i>
            </div>
            <div class="col s10">
              <span class="white-text card-title subtitle">
                  Veuillez renseigner le formulaire ci-dessous pour ajouter un nouveau bénéficiaire.
                  <br />
                  Cliquez sur "ÉTAPE SUIVANTE" ou sur les numéros pour naviguer entre les étapes.
              </span>
            </div>
    </div>
  </div>
</div>

<div class="form row">

  <!-- Informations inscription -->
  <div class="row infoInsciption">
    <div class="col s3 inscripteurLabel">
      <span class="card-title subtitle">Inscription réalisée par : </span>
    </div>
    <div class="col s4">
      <div class="input-field inline" id="inscripteur">
        <input id="inscritPar" type="text">
        <label for="inscritPar">Nom et prénom</label>
      </div>
    </div>
    <div class="col s1 inscripteurLabel">
      <span class="card-title subtitle">Le : </span>
    </div>
    <div class="col s4">
        <div class="input-field inline">
          <input id="inscriLe" type="text" class="datepicker">
          <label for="inscriLe">Date d'inscription</label>
        </div>
      </div>
  </div>

  <!-- Bulles d'étapes -->
  <input id="one" type="radio" name="stage" checked="checked" />
  <input id="two" type="radio" name="stage" />
  <input id="three" type="radio" name="stage" />
  <input id="four" type="radio" name="stage" />
  <input id="five" type="radio" name="stage" />
  <input id="six" type="radio" name="stage" />

  <div class="stages">
    <label for="one">1</label>
    <label for="two">2</label>
    <label for="three">3</label>
    <label for="four">4</label>
    <label for="five">5</label>
    <label for="six">6</label>
  </div>

  <span class="progress">
    <span></span>
  </span>

  <!-- Pages du formulaire -->
  <div class="panels">

    <!-- ETAPE 1 -->
    <div data-panel="one">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Informations personnelles du bénéficiaire</span>

          <div class="row row-etape">

            <span class="card-title subtitle">Identité</span>
            <!-- Nom, prénoms -->
            <div class="row">
              <div class="input-field col s6">
                <input id="prenom" type="text">
                <label for="prenom">Prénoms</label>
              </div>
              <div class="input-field col s6">
                <input id="nom" type="text">
                <label for="nom">Nom</label>
              </div>
            </div>

            <!-- Date de naissance, genre et nom de jeune fille -->
            <div class="row">
              
              <div class="col s1 genre">
                  Genre : 
              </div>
              <div class="col s2 genre">
                  <label>
                    <input id="isFemme" name="genre" type="radio" class="with-gap"/>
                    <span>Femme</span>
                  </label>
                  <label>
                    <input id="isHomme" name="genre" type="radio" class="with-gap"/>
                    <span>Homme</span>
                  </label>
              </div>
              <div class="input-field col s6">
                <input id="nomJF" type="text" disabled>
                <label for="nomJF">Nom de jeune fille</label>
              </div>
              <div class="col s3">
                <div class="input-field inline">
                  <input  id="dateNaissance" type="text" class="datepicker">
                  <label for="dateNaissance">Date de naissance</label>
                </div>
              </div>
            </div>
            
            <!-- Nationalité, pays de naissance -->
            <div class="row">
              <div class="input-field col s6">
                <input id="nationalite" type="text" class="autocomplete nationalite">
                <label for="nationalite">Nationalité</label>
              </div>
              <div class="input-field col s6">
                <input id="paysNaissance" type="text" class="autocomplete pays-naissance">
                <label for="paysNaissance">Pays de naissance</label>
              </div>
            </div>
            
            <span class="card-title subtitle">Coordonnées</span>
            <!-- Adresse, code postal, ville -->
            <div class="row">
              <div class="input-field col s6">
                <input id="adresse" type="text">
                <label for="adresse">Adresse</label>
              </div>
              <div class="input-field col s2">
                <input id="codePostal" type="text">
                <label for="codePostal">Code postal</label>
              </div>
              <div class="input-field col s4">
                <input id="ville" type="text">
                <label for="ville">Ville</label>
              </div>
            </div>

            <!-- Mail, téléphone -->
            <div class="row">
              <div class="input-field col s6">
                <input id="mail" type="email" class="validate">
                <label for="mail">Adresse mail</label>
                <span class="helper-text" data-error="Adresse mail invalide"></span>
              </div>
              <div class="input-field col s6">
                <input id="numTel" type="text">
                <label for="numTel">Numéro de téléphone</label>
              </div>
            </div>


            <span class="card-title subtitle">Niveau d'études</span>
            <!-- Niveau d'études -->
            <div class="switch col s3 etudes">
              Comprend le français
              <label>
                <input type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
            <div class="switch col s3 etudes">
              A obtenu le bac
              <label>
                <input type="checkbox">
                <span class="lever"></span>
              </label>
            </div>
            <div class="input-field col s6">
              <input id="etudesSup" type="text">
              <label for="etudesSup">Études supérieures</label>
            </div>
            
          </div>

        </div>
      </div>
    </div>

    <!-- ETAPE 2 -->
    <div data-panel="two">
      <div class="card">
        <div class="card-content">
          <span class="card-title">Situation familiale du bénéficiaire</span>

          <div class="row row-etape">

            <span class="card-title subtitle">Situation personnelle</span>
            <!-- Situation de couple, date -->
            <div class="row">
              <div class="input-field col s6">
                <select id="situation">
                  <option value="0" selected>Célibataire</option>
                  <option value="1">Marié.e</option>
                  <option value="2">Pacsé.e</option>
                  <option value="3">Concubin.e</option>
                  <option value="4">Veuf.ve</option>
                </select>
                <label>Situation</label>
              </div>
              <div class="input-field col s6">
                <input id="dateSituation" type="text" class="datepicker" disabled>
                <label for="dateSituation">Depuis le</label>
              </div>
            </div>
            <!-- Nom, prénopm -->
            <div class="row">
              <div class="input-field col s6">
                <input id="prenomConjoint" type="text" disabled>
                <label for="prenomConjoint">Prénoms du/de la conjoint.e</label>
              </div>
              <div class="input-field col s6">
                <input id="nomConjoint" type="text" disabled>
                <label for="nomConjoint">Nom du/de la conjoint.e</label>
              </div>
            </div>

            <!-- Date de naissance, vit en France, date d'entrée -->
            <div class="row">
              <div class="input-field inline col s4">
                <input  id="dateNaissanceConjoint" type="text" class="datepicker" disabled>
                <label for="dateNaissanceConjoint">Date de naissance du/de la conjoint.e</label>
              </div>
              <div class="switch col s4 resideFranceConjoint">
                Réside en France
                <label>
                  <input id="checkResideFranceConjoint" type="checkbox" disabled>
                  <span class="lever"></span>
                </label>
              </div>
              <div class="input-field col s4">
                <input id="dateEntreeFranceConjoint" type="text" class="datepicker" disabled>
                <label for="dateEntreeFranceConjoint">Depuis le</label>
              </div>
            </div>

            <!-- Nom, prénopm -->
            <div class="row">
              <div class="input-field col s12">
                <input id="situationConjoint" type="text" disabled>
                <label for="situationConjoint">Situation administrative du/de la conjoint.e</label>
              </div>
            </div>

            <span class="card-title subtitle sub-enfant">Enfants</span>
            <a class="btn-floating" id="duplicateEnfant"><i class="material-icons">add</i></a>
            <div id="enfant0" class="enfant"> 
              <!-- Nom, prénopm -->
              <div class="row">
                <div class="input-field col s6">
                  <input id="prenomEnfant" type="text">
                  <label for="prenomEnfant">Prénoms</label>
                </div>
                <div class="input-field col s6">
                  <input id="nomEnfant" type="text">
                  <label for="nomEnfant">Nom</label>
                </div>
              </div>
  
              <!-- Date de naissance, vit en France, date d'entrée -->
              <div class="row">
                <div class="input-field inline col s4">
                  <input  id="dateNaissanceEnfant" type="text" class="datepicker">
                  <label for="dateNaissanceEnfant">Date de naissance</label>
                </div>
                <div class="switch col s4 resideFranceEnfant">
                  Réside en France
                  <label>
                    <input type="checkbox">
                    <span class="lever"></span>
                  </label>
                </div>
                <div class="input-field col s4">
                  <input id="dateEntreeFranceEnfant" type="text" class="datepicker" disabled>
                  <label for="dateEntreeFranceEnfant">Depuis le</label>
                </div>
              </div>
  
              <!-- Nationalité, pays de naissance -->
              <div class="row">
                <div class="input-field col s6">
                  <input id="nationaliteEnfant" type="text" class="autocomplete nationalite">
                  <label for="nationaliteEnfant">Nationalité</label>
                </div>
                <div class="input-field col s6">
                  <input id="paysNaissanceEnfant" type="text" class="autocomplete pays-naissance">
                  <label for="paysNaissanceEnfant">Pays de naissance</label>
                </div>
              </div>
            </div>
            

          </div>

        </div>
      </div>
    </div>

    <!-- ETAPE 3 -->
    <div data-panel="three">

      <div class="card">
        <div class="card-content">
          <span class="card-title">Contacts du bénéficiaire</span>

          <div class="row row-etape">

            <span class="card-title subtitle">Contacts</span>

            <!-- Avocat -->
            <div class="row">
              <div class="input-field col s3">
                Avocat
              </div>
              <div class="input-field col s9">
                <input id="telAvocat" type="text">
                <label for="telAvocat">Numéro de téléphone</label>
              </div>
            </div>

            <!-- Assistante sociale -->
            <div class="row">
              <div class="input-field col s3">
                Assistante sociale
              </div>
              <div class="input-field col s9">
                <input id="telAssistanteSociale" type="text">
                <label for="telAssistanteSociale">Numéro de téléphone</label>
              </div>
            </div>

            <!-- Association -->
            <div class="row">
              <div class="input-field col s3">
                Association
              </div>
              <div class="input-field col s9">
                <input id="telAssociation" type="text">
                <label for="telAssociation">Numéro de téléphone</label>
              </div>
            </div>

            <span class="card-title subtitle sub-enfant">Découverte de l'AMI</span>
            <!-- Orienté par -->
            <div class="row">
              <div class="input-field col s12">
                <input id="orientePar" type="text">
                <label for="orientePar">Qui à orienté le bénéficiaire vers l'AMI ?</label>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    <!-- ETAPE 4 -->
    <div data-panel="four">
      <div class="card">
          <div class="card-content">
            <span class="card-title">Entrée en France du bénéficiaire</span>
  
            <div class="row row-etape">
  
              <span class="card-title subtitle">Date</span>
  
              <!-- Date d'entrée en France -->
              <div class="row">
                <div class="input-field col s3">
                  Date d'entrée en France
                </div>
                <div class="input-field col s4">
                  <input id="dateEntreeFrance" type="text" class="datepicker">
                  <label for="dateEntreeFrance">Date</label>
                </div>
              </div>
              
              <!-- Date d'entrée en France -->
              <div class="row">
                <div class="input-field col s3">
                  Date de validité du titre
                </div>
                <div class="input-field col s4">
                  <input id="dateValiditeTitre" type="text" class="datepicker">
                  <label for="dateValiditeTitre">Date</label>
                </div>
              </div>
  
              <span class="card-title subtitle sub-enfant">Moyen d'entrée</span>
              <!-- Passeport -->
              <div class="row">
                <div class="input-field col s3">
                    <label>
                      <input  id="passeport" type="checkbox" class="filled-in" />
                      <span>Passeport</span>
                    </label>
                </div>
                <div class="input-field col s4">
                  <input id="dateValiditePasseport" type="text" class="datepicker" disabled>
                  <label for="dateValiditePasseport">Date de validité</label>
                </div>
              </div>

              <!-- Visa -->
              <div class="row">
                <div class="input-field col s3">
                    <label>
                      <input id="visa" type="checkbox" class="filled-in" />
                      <span>Visa</span>
                    </label>
                </div>
                <div class="input-field col s4">
                  <input id="dateValiditeVisa" type="text" class="datepicker" disabled> 
                  <label for="dateValiditeVisa">Date de validité</label>
                </div>
              </div>

            </div>
          </div>
        </div>
    </div>

    <!-- ETAPE 5 -->
    <div data-panel="five">
      <div class="card">
          <div class="card-content">
            <span class="card-title">Démarches administratives du bénéficiaire</span>
  
            <div class="row row-etape">
  
              <span class="card-title subtitle">Demande d’asile</span>
              <div class="row">
                <div class="input-field col s12">
                  . . .
                </div>
              </div>

              <span class="card-title subtitle">OFPRA</span>
              <div class="row">
                <div class="input-field col s12">
                  . . .
                </div>
              </div>

              <span class="card-title subtitle">CNDA</span>
              <div class="row">
                <div class="input-field col s12">
                  . . .
                </div>
              </div>

              <span class="card-title subtitle">OQTF</span>
              <div class="row">
                <div class="input-field col s12">
                  . . .
                </div>
              </div>

              <span class="card-title subtitle">Titre de séjour</span>
              <div class="row">
                <div class="input-field col s12">
                  . . .
                </div>
              </div>

            </div>
          </div>
        </div>
    </div>

    <!-- ETAPE 6 -->
    <div data-panel="six">
      <div class="card">
          <div class="card-content">
            <span class="card-title">Cotisation annuelle du bénéficiaire</span>
  
            <div class="row row-etape">
  
              <span class="card-title subtitle">Cotisation <span id="today"></span></span>

              <!-- Montant -->
              <div class="row">
                <div class="input-field col s3">
                    <label>
                      <input id="payee" name="choixCotisation" type="radio" class="with-gap" />
                      <span>Cotisation payée</span>
                    </label>
                </div>
                <div class="input-field col s4">
                    <select id="montanCotisation" disabled>
                      <option value="" disabled selected>Choisir un montant</option>
                      <option value="1">5 €</option>
                      <option value="2">10 €</option>
                      <option value="3">20 €</option>
                    </select>
                    <label>Montant</label>
                </div>
              </div>

              <!-- Montant -->
              <div class="row">
                  <div class="input-field col s3">
                      <label>
                        <input id="pasPayee" name="choixCotisation" type="radio" class="with-gap" />
                        <span>Cotisation non payée</span>
                      </label>
                  </div>
                  <div class="input-field col s4">
                      <input id="raisonPasCotise" type="text" disabled>
                      <label for="raisonPasCotise">Motif</label>
                  </div>
                </div>

            </div>
          </div>
        </div>
    </div>


  </div>

  <button class="btn-large default_color btn-precedent">Étape précédente</button>
  <button class="btn-large default_color btn-suivant">Étape suivante</button>

</div>


