<% pageAffichee = "stats" %>

<h2 class="titre">Statistiques de l'AMI</h2>

<div class="row">

    <div class="col s6">
        <div class="card white">
            <div class="card-content blue-text">
                <span class="card-title">Répartition par continent d'origine</span>
                <canvas id="repartitionParContinent"></canvas>
            </div>
        </div>
    </div>

    <div class="col s6">
        <div class="card blue">
            <div class="card-content white-text">
                <span class="card-title">Répartition par genre</span>
                <canvas id="repartitionHommeFemme"></canvas>
            </div>
        </div>
    </div>

    <div class="col s12">
        <div class="card blue">
            <div class="card-content white-text">
                <span class="card-title">Évolution des inscriptions sur les 12 derniers mois</span>
                <canvas id="graphInscriptions"></canvas>
            </div>
        </div>
    </div>


</div>
