<% pageAffichee = "stats" %>

<h2 class="titre">Statistiques de l'AMI</h2>

<div class="row">

    <div class="col s6">
        <div class="card white">
            <div class="card-content blue-text">
                <span class="card-title">Répartition des bénéficiaires par de leur continent d'origine</span>
                <canvas id="repartitionParContinent"></canvas>
            </div>
        </div>
    </div>

    <div class="col s6">
        <div class="card blue">
            <div class="card-content white-text">
                <span class="card-title">Répartition homme/femme des bénéficiaires</span>
                <canvas id="repartitionHommeFemme"></canvas>
            </div>
        </div>
    </div>

    <div class="col s6">
        <div class="card blue">
            <div class="card-content white-text">
                <span class="card-title">Dernières Inscriptions</span>
                <canvas id="graphInscriptions"></canvas>
            </div>
        </div>
    </div>


</div>
